body {
    font-family: Arial, sans-serif;
    background-color:darkgrey;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-left: auto;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
